<launch>
    <arg name="robot_ip" default="192.168.3.148"/>

    <!-- Launching first_launch.launch -->
    <include file="$(find abb_robot_bringup_examples)/launch/ex3_rws_and_egm_yumi_robot.launch">
        <!-- this launch uses the ex3_controllers.yaml configuration file -->
        <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>

    <!-- Launching second_launch.launch -->
    <include file="$(find yumi_moveit_config)/launch/demo.launch"/>
    <!-- Launching a ROS node -->
    <node name="topic_rerouter" pkg="yumi_motion_api" type="topic_reroute.py"/>

    <node name="gripper_control" pkg="yumi_motion_api" type="gripper_control.py"/>

    <!-- adding egm session start  and refresh service -->
    <node name="egm_service" pkg="yumi_motion_api" type="egm_service.py"/>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- <node name="moveit_grasps_demo" pkg="moveit_grasps" type="moveit_grasps_grasp_pipeline_demo">
        <param name="ee_group_name" value="left_arm"/>
        <param name="planning_group_name" value="left_arm"/>
        <rosparam command="load" file="$(find moveit_grasps)/config_robot/panda_grasp_data.yaml"/>
        <rosparam command="load" file="$(find moveit_grasps)/config/moveit_grasps_config.yaml"/>
    </node> -->

    
</launch>
